{{!-- <div class="w-full relative" id="postBox">
  
  <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('/assets/images/sunnyphoto.jpeg');"></div>
  <div class="p-6 space-y-4 relative z-10">

    <span id="postContent">
      Example post content asd aldkaop aposdkjopaskd pakpk paksdopkasopdkoaskd
      dasjkdpasdpoaksd ap kaps. Example post content asd aldkaop aposdkjopaskd pakpk paksdopkasopdkoaskd
      dasjkdpasdpoaksd ap kaps. Example post content asd aldkaop aposdkjopaskd pakpk paksdopkasopdkoaskd
      dasjkdpasdpoaksd ap kaps. Example post content asd aldkaop aposdkjopaskd pakpk paksdopkasopdkoaskd
      dasjkdpasdpoaksd ap kaps. Example post content asd aldkaop aposdkjopaskd pakpk paksdopkasopdkoaskd
      dasjkdpasdpoaksd ap kaps. Example post content asd aldkaop aposdkjopaskd pakpk paksdopkasopdkoaskd
      dasjkdpasdpoaksd ap kaps. 
    </span>
  </div>
  <div class="p-6 space-y-4 relative z-10">
    <span id="postUsername">@christian</span> <span id="postDisplayname">Christian</span>
  </div>

</div>

<div class="w-full relative" id="postBox">
  
  <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('/assets/images/stormyphoto.jpg');"></div>
  <div class="p-6 space-y-4 relative z-10">

    <span id="postContent">
      Why is it raining?
    </span>
  </div>
  <div class="p-6 space-y-4 relative z-10">
    <span id="postUsername">@cgwol</span> <span id="postDisplayname">HELLO</span>
  </div>

</div> --}}


