<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Y</title>
    {{! <link rel="stylesheet" href="/css/jass.css" /> }}
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>

  </head>

  <body class="text-white font-mono" id="body-main">
    <header id="header">
      <nav class="px-4 lg:px-6 py-2.5">

        <div
          class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
        >
          <div class="flex items-center">
            <a href="/" class="flex items-center" id="Y-home">
              <h1 class="self-center text-3xl font-semibold whitespace-nowrap">
                Y
              </h1>
            </a>
          </div>

          <div class="flex items-center right-0">
            {{#if logged_in}}
              <button
                class="font-bold py-2 px-4 border rounded text-md mr-2"
                id="ProfileBtn"
              >Profile</button>
              <button
                class="font-bold py-2 px-4 border rounded text-md"
                id="logoutBtn"
              >Log out</button>
            {{else}}
              <a href="/login">
                <button
                  class="font-bold py-2 px-4 border rounded text-md mr-2"
                  id="loginBtn"
                >Log in</button>
              </a>
              <a href="/signup">
                <button
                  class="font-bold py-2 px-4 border rounded text-md"
                  id="signupBtn"
                >Sign up</button>
              </a>
            {{/if}}
          </div>
        </div>
      </nav>

    </header>

    {{{body}}}

    <footer>

    </footer>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>