<div class="grid grid-cols-12 h-screen">
  <div class="col-span-3" id="left-column">


      {{> following}}


  </div>
  <div class="col-span-6" id="middle-column">
    
      {{> posts}}

  </div>
  <div class="col-span-3" id="right-column">

    {{!-- future news articles --}}
    {{> news}}

  </div>

</div>

<script src="/js/news.js"></script>