<div class="grid grid-cols-12 h-screen">
  <div class="col-span-3" id="left-column">

  </div>
  <div class="col-span-6" id="middle-column">
    <span> THIS IS THE PROFILE PAGE FOR USER: {{user.displayName}}</span>
    {{#if postPartial}}
        {{> post}}
    {{/if}}

  </div>
  <div class="col-span-3" id="right-column">

    {{!-- Future posts button maybe? --}}

  </div>

</div>

<script src="/js/post.js"></script>